#--------------
# instructions
# --------------
# line staring with character '#' are considered comments
# all the variabales must have an '=' sign (Warning!!! do not remove the equality sign)
# you can insert as many blank spaces you want as they are ignored,
# you are also alowed to use Upper and lower case letters 
# but please do not rename the variables into something else,   
# do not change the order of the words and do not change the spellings  

# set verbose level > 1 to see the values read from this file

#----------
#General
#-----------

verbose level = 0 

#------------------
# DSSD
#----------------

pre trig buffer = 512
#original trace size is 992, usually the first and the last entry is empty or has some weird values
# so its better to ignore the few smaples in the beiging and end od each trace
#
# number of begining samples you want to to ignore
number of samples to be ignored at start = 5
# number of end samples to be ignored
number of samples to be ignored at end = 2
# size you would like to process
trace size = 985
#----sum = 992

#Number of Numexo2-Boards 
Total Number of DSSD boards = 16
#Board list 
# the board ids must be seperated by comma
DSSD Board List = 164, 165, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 192
#Routing

MB1 P4 BOARD1 = 180
MB1 P4 BOARD2 = 181
MB1 P5 BOARD1 = 169
MB1 P5 BOARD2 = 165

MB2 P4 BOARD1 = 175
MB2 P4 BOARD2 = 173
MB2 P5 BOARD1 = 174
MB2 P5 BOARD2 = 171

MB3 P4 BOARD1 = 192
MB3 P4 BOARD2 = 164
MB3 P5 BOARD1 = 176
MB3 P5 BOARD2 = 178

MB4 P4 BOARD1 = 172
MB4 P4 BOARD2 = 177
MB4 P5 BOARD1 = 170
MB4 P5 BOARD2 = 179

#FPCSA gain in (pF)
FPCSA Gain = 0.8
#Calibration file
DSSD Calibration File = calibrationParameters_run52.txt
# Digital Filter
Filter Algorithm = Trap1
#Shaper Amplification gain for Algorithm 3 and 4
Shaper Amplification Gain = 1.
#default or optimized in samples
use default filter parameters = yes
default K value = 100
default M value = 20
Trapezoidal Parameter File =  abcd.txt
# sum energies of neighboring strips
sum energies of the neighboring DSSD strips = yes
#define coincidence window for pixel building in ns

DSSD front-front coincidence window = 2000
DSSD front-back coincidence window = 2000
DSSD back-front coincidence window = 2000
DSSD back-back coincidence window = 2000

#Front and back strip seperation gap in histograms

DSSD Front-Back bin gap = 20

# CFD file
#---------------
#  Tunnel
#--------------
#Number of Numexo2-Boards
Total Number of Tunnel Boards = 2

#Board List
#the board ids must be seperated by comma
Tunnel Board List = 187, 188

#calibration file
Tunnel Calibration file = calibrationParameter_run_75.txt

#-------------
#  Exogam
#------------


